.navbar-light   a.os-brand {
    color: #ff0598;
}

.os-second-row {
    background: url(https://s3-eu-west-1.amazonaws.com/orchidstream/bg-1.jpg) no-repeat 0 60%;
    background-size: cover;
    height: 400px;
}

.os-clients-row {
    background: #ff0598;
}

a.os-client .os-client-title-row {
}

a.os-client .os-client-title-row i {
    font-size: 64px;
    padding: 20px;
}

a.os-client .os-client-title-row h2 {
    font-size: 48px;
}

a.os-client > *{
    text-align: center;
    color: #ffffff;
}

a.os-client:hover, a.os-client:active, a.os-client:focus {
    text-decoration: none;
    background: #c60476;
}

.github-link {
    display: inline-block;
    padding: .5em 0;
}
